
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
    /* background: url('homebg.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #dbeeff;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    padding: 4px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    color: white;
    font-size: 25px;
}
header .navbar ul{
     list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    margin: 7px 3px;
    display: block;
}
header .navbar ul li a:hover{
    border-radius: 14px;
    background-color: white;
    color: black;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 160px;
    background: black;
    display: none;
    border-radius: 15px;
}
header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul{
    display: initial;
}
header .navbar ul li ul li{
    width: 100%;
    /* border-top: 1px solid rgb(83, 83, 83); */
}
header .navbar ul li ul li ul{
    left: 160px;
    top: 0;
}
#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: none;
}
/* home */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 250px;
    height: 460px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('homebg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 70%;
    width: 100%;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 38px;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
}
/* book search */
.search{
    width: 40%;
    margin-left: 29%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    margin: 44px;
    align-items: center;
    justify-content: center;
}
#booksearch{
    padding: 2px 5px;
    font-size: 16px;
    border-radius: 5px;
    size: 80px;
}

.book{
    font-size: 16px;
    
    background: rgb(0, 40, 158);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px 6px;
    margin-top: 5px;
}
.book:hover{
    background-color: black;
}
/* details */
.cont{
    margin-top: 30px;
    display: flex;
    width: 50%;
    /* align-items: center; */
    /* flex-direction: column; */
}
.cont img{
    margin: 40px;
}

.profile_table{
    width: 100%;
    /* min-width: 400px; */
    font-size: 1.1rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    /* border-spacing: 0px 10px; */
    
}

.profile_table th,
.profile_table td {
    padding: 4px 20px;
    width:200px;
    /* text-align: center; */
    /* border: 1px solid black; */
}
/* .profile_table tr {
    border-bottom: 1px solid black;
} */
.profile_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3ce;
}
.profile_table tbody tr:nth-of-type(odd) {
    background-color: white;
}


/* table */
.container{
    margin-top: 80px;
}
.container h2{
    margin-bottom: 50px;
    margin-left: 25%;
}
/* .container h2 img{
    margin-right: 10px;
    margin-top: 0px;
} */
.row{
    width: 50%;
    margin-left: 0%;
    display: flex;
}
.row img{
    margin: 40px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.table td, .table th{
    padding: 10px 12px;
    border: 1px solid black;
    text-align: center;
}
.table th{
    background-color: rgb(53, 155, 190);
    color: white;
    font-size: 22px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 19px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3ce;
}
.table tbody tr:nth-of-type(odd) {
    background-color: white;
}
.up{
    color: white;
    text-decoration: none;
}
.action{
    background: none;
    border: none;
    color: black;
    margin: 0px 6px;
}
.action a{
    text-decoration: none;
    color: black;
}
.action a:hover{
    color: royalblue;
}
/* global class */
.h-primary{
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
}
.box{
    border-bottom: 2px solid black;
    margin: 4px 0px;
}
.input{
    background: none;
    width: 80%;
    margin: 10px 6px;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
}
.btn{
    display: block;
    width: 10%;
    font-size: 14px;
    margin-left: 12%;
    cursor: pointer;
    outline: none;
    padding: 4px 0px;
    border-radius: 7px;
    margin-top: 20px;
    color: white;
    background: rgb(0, 40, 158);
    border: none;
}
.btn:hover{
    color: white;
    background: black;
}
.msg{
    font-size: 26px;
}

@media(max-width: 970px){
    header{
        padding: 7px;
        
    }
    header label{
        display: inline;
        font-size: 16px;
    }
    header .logo{
        font-size: 22px;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: black;
        display: none;
        transition: all 0.3s ease;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li a{
        font-size: 14px;
    }
    header .navbar ul li a:hover{
        color: cyan;
        background-color: black;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: black;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked~.navbar{
        display: initial;
    }
    #home::before{
        height: 70%;
    }
    #home{
        width: 100%;
        height: 460px;
        padding: 0px 10px;
    }
    #home h1{
        margin: 5px;
        font-size: 27px;
    }
    #home p{
        font-size: 1rem;
    }
    .search{
        margin: 80px;
    }
    .container h2{
        text-align: center;
        margin-left: 0;
    }
    .row{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }
    .row img{
        margin: 2px;
        margin-bottom: 10px;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 13px;
    }
    .table td{
        text-align: right;
        /* padding-left: 40%; */
        position: relative;
        font-size: 15px;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 12px;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    }
    .btn{
        margin-left: 10px;
        margin-top: 8px;
        width: 30%;
    }
    .cont{
        flex-direction: column;
        width: 100%;
    }
    .cont img{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .profile_table{
        font-size: 0.9rem;
    }
    .profile_table td{
        margin-right: 10px;
    }
}