<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librarian Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename=('css/data.css'))}}">
</head>
<body>
    <header>
        <a href="" class="logo">Librarian</a>
        <input type="checkbox"  id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{{url_for('profile_lib')}}">Profile</a>
                </li>
                <li>
                    <a href="#">Manage Books+</a>
                    <ul>
                        <li><a href="{{url_for('search_book_lib')}}">Search Book</a></li>
                        <li><a href="{{url_for('add_book')}}">Add Book</a></li>
                        <li><a href="{{url_for('remove_book')}}">Delete Book</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Circulation+</a>
                    <ul>
                        <li><a href="{{url_for('issue_book')}}">Issue Book</a></li>
                        <li>
                            <a href="{{url_for('return_book')}}">Return Book</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Reports+</a>
                    <ul>
                        <li><a href="{{url_for('issued_books')}}">Issued Books</a></li>
                        <li><a href="{{url_for('reserved_books')}}">Reserved Books</a></li>
                        <li>
                            <a href="{{url_for('transaction_records')}}">All Transactions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Manage Shelf+</a>
                        <ul>
                            <li><a href="{{url_for('add_shelf')}}">Add Shelf</a></li>
                            <li><a href="{{url_for('edit_shelf')}}">Edit Shelf</a></li>
                            <li><a href="{{url_for('view_shelf')}}">View Shelf</a></li>
                        </ul>
                </li>
                <li>
                    <a href="#">Manage Users+</a>
                    <ul>
                        <li><a href="{{url_for('requests')}}">Requests</a></li>
                        <li><a href="{{url_for('add_lib')}}">Add Librarian</a></li>
                        <li><a href="{{url_for('delete_user')}}">Delete Users</a></li>
                        <li><a href="{{url_for('view_members')}}">View Members</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{url_for('manage_fines')}}">Manage Fines</a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}"> Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class = "container" >
        {% if detail !="No records found"%}
            <h4 align="center" class="msg">
                <strong>{{msg}}</strong>
            </h4>
            <br>
      
            {% if detail %}
            <div class="table-container">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">U_ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>                                                        
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in detail %}
                            <tr>
                                <td data-label="U. ID"> {{u['U_ID']}} </td>
                                <td data-label="Name"> {{u['name']}} </td>
                                <td data-label="Email"> {{u['email']}} </td>
                                <td data-label="Address"> {{u['address']}} </td>
                                <td data-label="Usertype"> {{u['usertype']}} </td>                                
                                <td data-label="Action">
                                    <button class="action"><a href="{{url_for('add_user',id=u['U_ID'])}}">Validate</a></button> 
                                    <button class="action"><a href="{{url_for('delete_req',id=u['U_ID'])}}">Delete</a></button> 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {%endif%}
            </div>
                {%else%}
                    <h4 align="center" class="msg">
                        <strong>{{detail}}</strong>
                    </h4>
                {%endif%}
            </div>  
    </div>
</body>
</html>